body {
	font-family: "Helvetica", sans-serif;
}
.game {
	flex-wrap: wrap;
}
h1 {
	flex: 1 0 100%;
}

dy {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(139, 211, 255, 0.52);
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

button.square[value="X"] {
	color: rebeccapurple;
}
button.square[value="O"] {
	color: lightpink;
}
button.square[value="X"].dim {
	color: rgba(102,51,153,0.5);
}
button.square[value="O"].dim {
	color: rgba(255,182,193,0.5);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game img { opacity: 0 }

.game.win img { opacity: 1 }
